set -o allexport
source ../conf/env/stripe_webhook.sh
source ../conf/env/stripe.sh
source ../conf/docker/db.sh
source ../conf/docker/r.sh
set +o allexport

export RUSTFLAGS='--cfg reqwest_unstable'
export RUST_LOG=debug,supervisor=warn,hyper=warn,rustls=warn,h2=warn,tower=warn,reqwest=warn,h3=warn,quinn_udp=warn,quinn_proto=warn,watchexec=warn,globset=warn,hickory_proto=warn,hickory_resolver=warn,fred=warn
export RUST_BACKTRACE=short

DIR=$(pwd)

cd $DIR
bin=$DIR/.direnv/bin
PATH_add $bin
