on:
  workflow_call:
    inputs:
      name:
        required: true
        type: string

jobs:
  build:
    permissions:
      repository-projects: write
      contents: write
    name: build
    strategy:
      matrix:
        platform: [ubuntu-latest]
        # platform: [macos-latest,ubuntu-latest,mac-arm,windows-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      # - if: runner.os == 'macOS'
      #   uses: maxim-lobanov/setup-xcode@v1
      #   with:
      #     xcode-version: latest-stable
      # - uses: GuillaumeFalourd/setup-rsync@v1.2
      - name: checkout private conf
        uses: actions/checkout@v4
        with:
          repository: i18n-cron/conf
          token: ${{ secrets.GH_PAT }}
          path: conf
      - name: checkout srv
        uses: actions/checkout@v4
        with:
          repository: i18n-api/srv
          path: srv
          set-safe-directory: false
          lfs: true
      - name: checkout srv/mod/pub
        uses: actions/checkout@v4
        with:
          repository: i18n-api/mod.pub
          path: srv/mod/pub
          set-safe-directory: false
          lfs: true
      - uses: actions/checkout@v4
        with:
          set-safe-directory: false
          lfs: true
          path: me
      # - name: Install Protoc
      #   if: runner.os != 'macOS'
      #   uses: arduino/setup-protoc@v3
      #   with:
      #     repo-token: ${{ github.token }}

      - name: rust-toolchain
        uses: actions-rs/toolchain@v1.0.6
        with:
            # https://github.com/dalek-cryptography/curve25519-dalek/issues/618
            toolchain: nightly
            # toolchain: nightly-2024-05-04
            override: true
            components: rust-src
            # components: rustfmt, clippy
      - name: dist
        shell: bash
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          mkdir -p ~/.ssh
          cp conf/ssh_config ~/.ssh
          chmod 700 ~/.ssh
          chmod -R 600 ~/.ssh/*
          . conf/ssl/env/ssh.sh
          export SSHPASS
          . conf/api_srv.sh
          export API_SRV
          cd me/sh
          ./github.dist.sh

